body {
	margin: 0;
	overflow: hidden;
	user-select: none;
}

svg {
	background: rgb(175, 214, 205);
	position: absolute;
}

.ui {
	position: absolute;	
}

.anno-content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

.source-link {
	font-style: italic;
	color: white;
}